.main-description {
    display: flex;
    justify-content: space-between;
}

.more-option {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    /*height: 220px;*/
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 2;
    margin-top: 10px;
    right: 2%;
    line-height: 25px;
    user-select: none;
    padding: 12px 16px 20px;
}

.more-option-buttons {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.more-option label, input[type="checkbox"] {
    color: #1C344F;
    cursor: pointer;
}

.more-option hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.more-option-btn {
    width: 123px;
    margin-left: 10px;
}

.content-title {
    text-align: center;
    margin-bottom: 8px;
}


.content-description {
    line-height: 29px;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.span-label {
    padding: 2px 8px;
    border-radius: 20px;
    width: auto;

    max-width: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: white;

    p {
        font-size: 13px;
        color: white;
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.cards-container a div {
    flex: 1;
}

.img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.add-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.add-inputs input, select, .custom-select {
    margin-top: 10px;
    width: 100%;
}

.add-inputs input[type="text"], input, .custom-select, #descriptionEditor {
    height: 48px;
    background-color: #fafbfd;
    border: 1px solid #D5D5D5;
}